<div class="container">
  <div class="titulo-cadastro">
    <h1>Cadastro de usuários</h1>
  </div>
  <div class="formulario">
    <div class="label-input">
      <label for="nome"> Nome </label>
      <input type="text" name="nome" placeholder="Digite seu nome...">
    </div>
    <div class="label-input">
      <label for="usuario"> Email </label>
      <input type="text" name="usuario" placeholder="Digite seu email">
    </div>
    <div class="senhas">
      <div class="label-input">
        <label for="usuario"> Senha </label>
        <input type="password" name="usuario" placeholder="Digite sua senha">
      </div>
      <div class="label-input">
        <label for="usuario"> Confirme a senha </label>
        <input type="text" name="usuario" placeholder="Digite sua senha">
      </div>
    </div>
    <div class="label-input">
      <label for="usuario"> CPF </label>
      <input type="text" name="cpf" placeholder="Digite seu cpf">
    </div>
    <div class="label-input">
      <label for="usuario"> Telefone </label>
      <input type="text" name="telefone" placeholder="Digite seu telefone">
    </div>
    <div class="label-input2">
      <button class="btn-login"> cadastrar-se </button>
    </div> 
  </div>
</div>