<div class="container">
  <div class="titulo-cadastro">
    <h1>Cadastro de usuários</h1>
  </div>
  <div class="formulario">
    <div class="label-input">
      <label for="nome"> Nome </label>
      <input type="text" name="nome" [(ngModel)]="cliente.nome" placeholder="Digite seu nome...">
    </div>
    <div class="label-input">
      <label for="email"> Email </label>
      <input type="text" name="email" [(ngModel)]="cliente.email" placeholder="Digite seu email">
    </div>
    <div class="senhas">
      <div class="label-input">
        <label for="senha"> Senha </label>
        <input type="password" name="senha" [(ngModel)]="cliente.senha" placeholder="Digite sua senha">
      </div>
      <div class="label-input">
        <label for="confirmarSenha"> Confirme a senha </label>
        <input type="text" name="confirmarSenha" [(ngModel)]="cliente.confirmarSenha" placeholder="Digite sua senha">
      </div>
    </div>
    <div class="label-input">
      <label for="cpf"> CPF </label>
      <input type="text" name="cpf" [(ngModel)]="cliente.cpf" placeholder="Digite seu cpf">
    </div>
    <div class="label-input">
      <label for="telefone"> Telefone </label>
      <input type="text" name="telefone" [(ngModel)]="cliente.telefone" placeholder="Digite seu telefone">
    </div>
    <div class="senhas">
      <div class="label-input">
          <label for="cep"> Cep </label>
          <input type="text" name="cep" [(ngModel)]="cliente.cep" placeholder="Digite seu cep">
      </div>
      <div class="label-input">
          <label for="numeroCasa"> Numero casa </label>
          <input type="text" name="numeroCasa" [(ngModel)]="cliente.numero" placeholder="Digite o numero da casa">
      </div>
    </div>
    <div class="label-input2">
      <button class="btn-login" (click)="cadastrarCliente()"><a href="/login"> cadastrar-se </a></button>
    </div> 
  </div>
</div>