<div class="main-login">
  <div class="left-login">
    <h1>Cadastre-se<br> Venha fazer parte!</h1>
    <img src="./assets/svg/animacao.svg" class="left-login-image">
    <button class="btn-login"> <a href="/cadastro" style="text-decoration: initial; color: #ECEFF1"> Cadastre-se</a> </button>
  </div>
  <div class="right-login">
    <div class="card-login">
      <h1>LOGIN</h1>
      <div class="textfield">
        <label for="usuario"> Usuario </label>
        <input type="text" name="usuario" [(ngModel)]="email" placeholder="Usuário">
      </div>
      <div class="textfield">
        <label for="senha"> Senha </label>
        <input type="password" name="senha" placeholder="Senha" [(ngModel)]="senha"> 
        <h3>
          <a href="/esqueci-senha" style="text-decoration: initial; color: #ECEFF1">Esqueci minha senha</a>
        </h3>  
      </div>
      <button class="btn-login" (click)="logar()"><a style="text-decoration: initial; color: #ECEFF1" > Logar </a></button>     
    </div>
  </div>
</div>
