<div class="main-login">
    <div class="left-login">
        <h1>Cadastre-se<br> Venha fazer parte!</h1>
        <img src="./assets/svg/animacao.svg" class="left-login-image">
        <button class="btn-login"> cadastrar-se </button>

    </div>
    <div class="right-login">
        
        <div class="card-login">
            <h1>LOGIN</h1>
            <div class="textfield">
                <label for="usuario"> Usuario </label>
                <input type="text" name="usuario" placeholder="Usuário">
            </div>
            <div class="textfield">
                <label for="senha"> Senha </label>
                <input type="password" name="senha" placeholder="Senha">   
            </div>
            <button class="btn-login"> Logar </button>
            
        </div>
       
        
    </div>
</div>