<h2>Cadastro de produto</h2>
<div class="alert alert-info" *ngIf="mensagem.length>0">{{mensagem}}</div>

 Id:<input type="number" [(ngModel)]="produto.id" class="form-control"><br>
 Nome:<input type="text" [(ngModel)]="produto.nome" class="form-control"><br>
 Descricao:<input type="text" [(ngModel)]="produto.descricao" class="form-control"> <br>
 Descricao Longa:<input type="text" [(ngModel)]="produto.descricaoLonga" class="form-control"> <br>
 Preco:<input type="text" [(ngModel)]="produto.preco" class="form-control"> <br>
 Url Imagem:<input type="text" [(ngModel)]="produto.urlImagem" class="form-control"><br>

<button (click)="cadastrar()" class="btn btn-success">Gravar</button>

<div class="container custom-container grid-produtos">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-2">
    <div *ngFor="let produto of produtos$ | async as produtos">
      <div class="col">
        <div class="card shadow-sm">
          <div clas="header-inner">
            <img src='{{ produto.urlImagem }}' width='100%' height="50%"/>
          </div>
          <div class="card-body">
            <div class="produto-descricao">
              <p class="card-text" ><b>{{ produto.nome }}</b></p>
              <p class="card-text" ><b>{{ produto.descricao }}</b></p>
              <p class="card-text">R$ <span>{{ produto.preco }}</span> /g</p>
            </div>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group ver-produto">
                <button (click)="exibirProduto(produto.id)" type="submit" class="btn btn-sm btn-outline-primary ver-produto-btn" > Exibir Produto </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>