<h2>Cadastro de produto</h2>
<div class="alert alert-info"
 *ngIf="mensagem.length>0">{{mensagem}}</div>

Codigo:<input type="number" [(ngModel)]="prod.codigo" 
class="form-control"><br>
Nome:<input type="text" [(ngModel)]="prod.titulo" 
class="form-control"><br>
Preço:<input type="text" [(ngModel)]="prod.preco"
class="form-control"> <br>
Link da Imagem:<input type="text" [(ngModel)]="prod.imagem"
class="form-control"><br>


<button (click)="cadastrar()" class="btn btn-success">
    Gravar</button>


    <div class="alert alert-info" *ngIf="lista.length<=0">
        Não exitem Itens registrados
      </div>
      <div class="card-body" *ngFor="let item of lista">
        <div class="card shadow-sm">
          <div clas="header-inner">
             <img src="{{item.imagem}}" width='100%' height="300px"/>
          </div>
          <div class="card-body">
            <p class="card-text" >{{item.titulo}}</b></p>
            <p class="card-text">R$ {{item.preco}} /g</p>
            <div class="d-flex justify-content-between align-items-center">
            <form action=" " method="post">
              <div class="btn-group">
                <button type="submit" class="btn btn-sm btn-outline-primary">Exibir Produto</button>
              </div>
            </form>
              <small class="text-muted">15:55</small>
              <small class="text-muted">25/09/2023</small>
            </div>
          </div>
        </div>
      </div>