<table class="table">
  <thead>
    <tr>
      <th scope="col">Item</th>
      <th scope="col">Qtd</th>
      <th scope="col">Valor</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Item</th>
      <td>X</td>
      <td>R$ 20,00</td>
    </tr>
    <tr>
      <th scope="row">Total</th>
      <td></td>
      <td>R$ 20,00</td>
    </tr>

  </tbody>
</table>
<div class="right-buttons float-right">
  <button type="button" class="btn btn-danger btn-act">Limpar cesta</button>
  <button type="button" class="btn btn-success btn-act">Comprar</button>
</div>
