<div class="top-container">
  <div class="row py-lg-5">
    <div class="col-lg-3 col-md-8 mx-auto">
      <div class="logo-container">
        <img class="logo" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.pinimg.com%2Foriginals%2F36%2Ffd%2Fa1%2F36fda1085cffacaebc7613ab8f227351.png&f=1&nofb=1&ipt=76dd2ba68f661deef35113d6b392884cff19289ee1f439d05444e953f967294a&ipo=images" width='100%' height="50%"/>
      </div>
    </div>
    <div class="col-lg-6 col-md-8 mx-auto">
      <form class="form-inline my-2 my-lg-0" action="" method="POST">
        <input [(ngModel)]="filtro" class="form-control mr-sm-2 search-bar" type="search" placeholder="Pesquisar Produto" aria-label="Pesquisar" name="pesquisa">
        <button (click)="list()" class="btn btn-sm btn-outline-primary" type="submit">Pesquisar</button>
      </form>
    </div>
    <div class="col-lg-3 col-md-8 mx-auto">
      <a class="link-cadastro-img" href="/cadastro" style="text-decoration: initial;">
        <div class="account-container">
          <img class="account" src="https://cdn.icon-icons.com/icons2/2550/PNG/512/user_circle_icon_152504.png" width='100%' height="50%"/>
        </div>
      </a>
    </div>
  </div>
</div>



<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a *ngIf='filtro!=""' class="navbar-brand">
      Pesquisa por: <strong>{{ filtro }}</strong>
    </a>
    <a *ngIf='filtro==""' class="navbar-brand" href="#">Menu</a>
  </div>
</nav>


<div class="container custom-container">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-2">
    <div *ngFor="let produto of produtos$ | async as produtos">

      <div class="col">
        <div class="card shadow-sm">
          <div clas="header-inner">
            <a class="link-detalhe-img" href="/detalhe">
              <img src='{{ produto.urlImagem }}' width='100%' height="100%"/>
            </a>
          </div>
          <div class="card-body">
            <div class="produto-descricao">
              <p class="card-text" ><b>{{ produto.nome }}</b></p>
              <p class="card-text" ><b>{{ produto.descricao }}</b></p>
              <p class="card-text">R$ <span>{{ produto.preco }}</span> /g</p>
            </div>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group ver-produto">
                <button type="submit" (click)="exibirProduto(produto.id)" class="btn btn-sm btn-outline-primary ver-produto-btn"><a class="link-detalhe" href="/detalhe/{{ produto.id }}">Exibir Produto</a></button>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
