<div class="row py-lg-5">
  <div class="col-lg-6 col-md-8 mx-auto">
    <h1 class="fw-light">LISTA DE PRODUTOS</h1>
    <p class="lead text-muted">Aqui você encontrará o seu produto desejado mais proximo a você!</p>
    <form class="form-inline my-2 my-lg-0" action="" method="POST">
    <input class="form-control mr-sm-2"  type="search" placeholder="Pesquisar Produto" aria-label="Pesquisar" name="pesquisa">
   <p> <button class="btn btn-sm btn-outline-primary" type="submit">Pesquisar</button> </p>
  </form>

</div>

<div class="album py-5 bg-light">
<div class="container">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

    <!-- <div class="alert alert-info" *ngIf="lista.length<=0">
      Não exitem Itens registrados
    </div>
    <div class="card-body" *ngFor="let item of lista">
      <div class="card shadow-sm">
        <div clas="header-inner">
           <img src="https://cdnv2.moovin.com.br/teashop/imagens/produtos/original/infusao-valeriana-garden-tea-shop-a8e60149855abec5409a42861eaf7d66.jpg" width='100%' height="300px"/>
        </div>
        <div class="card-body">
          <p class="card-text" >{{item.titulo}}</b></p>
          <p class="card-text">R$ {{item.preco}} /g</p>
          <div class="d-flex justify-content-between align-items-center">
          <form action=" " method="post">
            <div class="btn-group">
              <button type="submit" class="btn btn-sm btn-outline-primary">Exibir Produto</button>
            </div>
          </form>
            <small class="text-muted">15:55</small>
            <small class="text-muted">25/09/2023</small>
          </div>
        </div>
      </div>
    </div> -->
      

      <div class="col">
        <div class="card shadow-sm">
          <div clas="header-inner">
             <img src="https://cdnv2.moovin.com.br/teashop/imagens/produtos/original/infusao-valeriana-garden-tea-shop-a8e60149855abec5409a42861eaf7d66.jpg" width='100%' height="300px"/>
          </div>
          <div class="card-body">
            <p class="card-text" ><b>INFUSÃO VALERIANA GARDEN</b></p>
            <p class="card-text">R$ 9,90 /g</p>
            <div class="d-flex justify-content-between align-items-center">
            <form action=" " method="post">
              <div class="btn-group">
                <button type="submit" class="btn btn-sm btn-outline-primary">Exibir Produto</button>
              </div>
            </form>
              <small class="text-muted">15:55</small>
              <small class="text-muted">25/09/2023</small>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <div clas="header-inner">
             <img src="https://cdnv2.moovin.com.br/teashop/imagens/produtos/original/infusao-dreaming-verveine-tea-shop-e5c4685cf8e56a3a9393880ebdea344b.jpg" width='100%' height="300px"/>
          </div>
          <div class="card-body">
            <p class="card-text" > <b>INFUSÃO DREAMING VERVEINE</b> </p>
            <p class="card-text">R$ 19,90 /g </p>
            <div class="d-flex justify-content-between align-items-center">
            <form action=" " method="post">
              <div class="btn-group">
                <button type="submit" class="btn btn-sm btn-outline-primary">Exibir Produto</button>
              </div>
            </form>
              <small class="text-muted">15:55</small>
              <small class="text-muted">25/09/2023</small>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <div clas="header-inner">
             <img src="https://cdnv2.moovin.com.br/teashop/imagens/produtos/original/infusao-tila-garden-tea-shop-0f29c4b271894fbf8faee3b9dd778b40.jpg" width='100%' height="300px"/>
          </div>
          <div class="card-body">
            <p class="card-text" > <b>INFUSÃO TILA GARDEN</b> </p>
            <p class="card-text">R$ 3,90 /g </p>
            <div class="d-flex justify-content-between align-items-center">
            <form action=" " method="post">
              <div class="btn-group">
                <button type="submit" class="btn btn-sm btn-outline-primary">Exibir Produto</button>
              </div>
            </form>
              <small class="text-muted">15:55</small>
              <small class="text-muted">25/09/2023</small>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <div clas="header-inner">
             <img src="https://cdnv2.moovin.com.br/teashop/imagens/produtos/original/set-tea-gin-2fbb8bdeea486293e8360f3f5032a0b7.png" width='100%' height="300px"/>
          </div>
          <div class="card-body">
            <p class="card-text" > <b>SET TEA & GIN</b> </p>
            <p class="card-text">R$ 259,90</p>
            <div class="d-flex justify-content-between align-items-center">
            <form action=" " method="post">
              <div class="btn-group">
                <button type="submit" class="btn btn-sm btn-outline-primary">Exibir Produto</button>
              </div>
            </form>
              <small class="text-muted">15:55</small>
              <small class="text-muted">25/09/2023</small>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
</div>
